<!DOCTYPE html>
<html lang="en">
<% content_for :title do %>
  Terrier Scheduler
<% end %>

<% content_for :head do %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<% end %>

<h1>Schedule</h1>

<div class="schedule-grid">
  <div class="schedule-header">
    <div>Time</div>
    <% @technicians.each do |technician| %>
      <div class="technician-name"><% technician.name %></div>
    <% end %>
  </div>

  <div class="time-labels">
    <div class="time-slot">9:00 AM</div>
    <div class="time-slot">10:00 AM</div>
  </div>

  <div class="technician-columns">
    <% @technicians.each do |tech| %>
      <div class="technician-column">
        <% @tech_orders = WorkOrder.where(technician: tech.id) %>
        <% @tech_orders.each do |order| %>
          <div class="work-order">
            <% order_location = Location.where(id: order.location) %>
            <label><% order.time %></label>
            <label><% order_location.name %></label>
            <label><% order_location.city %></label>
            <label><% order.price %></label>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

</html>